# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore logs
logs
*.log

# Ignore local env files
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store

# Ignore IDE directories
.idea
.vscode
